# 롤 승패 예측
* Preporcessing train / test / submission data

In [1]:
!pip install xgboost

Requirement already satisfied: xgboost in /Users/yoo/anaconda/lib/python3.6/site-packages
Requirement already satisfied: numpy in /Users/yoo/anaconda/lib/python3.6/site-packages (from xgboost)
Requirement already satisfied: scipy in /Users/yoo/anaconda/lib/python3.6/site-packages (from xgboost)
Requirement already satisfied: scikit-learn in /Users/yoo/anaconda/lib/python3.6/site-packages (from xgboost)

In [2]:
import json
import pandas as pd
import scipy as sp
import matplotlib.pyplot as plt
from matplotlib import style
import seaborn as sns
import numpy as np
import statsmodels.api as sm
from patsy import dmatrix
import statsmodels.stats.api as sms

import xgboost
from sklearn.linear_model import SGDClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVC

from sklearn.metrics import log_loss,accuracy_score
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

/Users/yoo/anaconda/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools
/Users/yoo/anaconda/lib/python3.6/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [4]:
# read train data
with open('./data/train_data.json') as fp:
    json_str = fp.read()
    json_train = json.loads(json_str)
    
with open('./data/test.input.json') as fp:
    json_str = fp.read()
    json_test = json.loads(json_str)
    
with open('./data/test.output') as fp:
    test_out = fp.read()
    test_out = test_out.splitlines()
#     json_testout = json.loads(json_str)   

with open('./data/grading.input.json') as fp:
    sub_in = fp.read()
#    sub_out = sub_in.splitlines()
    sub_in = json.loads(sub_in)

In [5]:
# preprocessing train data

train_lst = []
train_row = {}
for i in range(len(json_train)):
    for j, player in enumerate(json_train[i]['participants']): # 그 경기 내에 참여자들
        train_row['champId_'+str(j)] = player['championId'] # 참여자의 champid
        train_row['player_'+str(j)] = player['summonerId'] # 참여자의 smid 
        
    train_row['target'] = json_train[i]['teams'][0]['winner'] # 그 경기에서 100번팀의 승리 여부
    
                  
    train_lst.append(train_row) # 한 경기 참여자들을 모두 lst의 row로
    train_row = {}
    
train_df = pd.DataFrame(train_lst)

In [6]:
train_df.head()

,champId_0,champId_1,champId_2,champId_3,champId_4,champId_5,champId_6,champId_7,champId_8,champId_9,...,player_1,player_2,player_3,player_4,player_5,player_6,player_7,player_8,player_9,target
0,238,412,236,117,20,421,22,103,63,150,...,178,724,553,1577,1406,1535,2448,1420,3440,False
1,64,412,236,76,8,222,268,245,421,12,...,6873,5159,6874,231,5352,1431,6842,3221,2240,False
2,69,64,57,104,40,111,39,15,8,90,...,874,2539,1107,1108,903,2981,2977,1182,626,True
3,107,96,25,222,113,268,245,12,64,236,...,883,225,1836,228,174,191,2331,250,226,True
4,236,76,103,92,89,102,412,101,39,222,...,465,2461,1339,2670,422,2684,1083,4272,2494,False

In [10]:
len(train_df)

38679

In [7]:
# test data 전처리

test_lst = []
test_row = {}
for i in range(len(json_test)):
    for j, player in enumerate(json_test[i]['participants']): # 그 경기 내에 참여자들
        test_row['champId_'+str(j)] = player['championId'] # 참여자의 champid
        test_row['player_'+str(j)] = player['summonerId'] # 참여자의 smid 
        
    #test_row['win_100'] = json_test[i]['teams'][0]['winner'] # 그 경기에서 100번팀의 승리 여부
    
                  
    test_lst.append(test_row) # 한 경기 참여자들을 모두 lst의 row로
    test_row = {}
    
test_df = pd.DataFrame(test_lst)
test_df['target'] = test_out
test_df['target'] = test_df['target'].map(lambda x: True if x == '100' else False)

In [8]:
test_df.head()

,champId_0,champId_1,champId_2,champId_3,champId_4,champId_5,champId_6,champId_7,champId_8,champId_9,...,player_1,player_2,player_3,player_4,player_5,player_6,player_7,player_8,player_9,target
0,236,28,111,13,8,69,120,254,201,222,...,835,1607,650,1284,4748,913,250,286,1436,True
1,22,157,54,59,412,40,236,64,8,98,...,1641,4405,286,788,2440,2009,302,1115,10,False
2,111,81,236,254,98,10,245,110,40,67,...,184,1451,612,539,1249,451,871,277,1405,False
3,421,40,96,51,117,79,222,25,150,103,...,266,1072,2027,194,2257,2457,958,6294,3360,False
4,122,161,7,81,25,20,412,54,15,69,...,1757,466,1680,208,400,79,317,128,348,False

In [14]:
train_df.columns

Index(['champId_0', 'champId_1', 'champId_2', 'champId_3', 'champId_4',
       'champId_5', 'champId_6', 'champId_7', 'champId_8', 'champId_9',
       'player_0', 'player_1', 'player_2', 'player_3', 'player_4', 'player_5',
       'player_6', 'player_7', 'player_8', 'player_9', 'target'],
      dtype='object')

In [9]:
len(test_df)

2000

In [17]:
test_df.columns

Index(['champId_0', 'champId_1', 'champId_2', 'champId_3', 'champId_4',
       'champId_5', 'champId_6', 'champId_7', 'champId_8', 'champId_9',
       'player_0', 'player_1', 'player_2', 'player_3', 'player_4', 'player_5',
       'player_6', 'player_7', 'player_8', 'player_9', 'target'],
      dtype='object')

In [11]:
# sub data 전처리

sub_lst = []
sub_row = {}
for i in range(len(sub_in)):
    for j, player in enumerate(sub_in[i]['participants']): # 그 경기 내에 참여자들
        sub_row['champId_'+str(j)] = player['championId'] # 참여자의 champid
        sub_row['player_'+str(j)] = player['summonerId'] # 참여자의 smid 
        
    #test_row['win_100'] = json_test[i]['teams'][0]['winner'] # 그 경기에서 100번팀의 승리 여부
    
                  
    sub_lst.append(sub_row) # 한 경기 참여자들을 모두 lst의 row로
    sub_row = {}
    
sub_df = pd.DataFrame(sub_lst)

In [12]:
sub_df.head()

,champId_0,champId_1,champId_2,champId_3,champId_4,champId_5,champId_6,champId_7,champId_8,champId_9,player_0,player_1,player_2,player_3,player_4,player_5,player_6,player_7,player_8,player_9
0,28,54,53,429,8,157,67,76,12,268,1120,158,251,1544,764,599,81,537,713,1239
1,81,89,105,254,120,67,107,69,150,9,488,2121,723,432,1019,1451,491,1264,2157,170
2,412,4,51,107,57,25,421,39,22,105,996,850,1621,1404,1622,224,1406,1623,291,179
3,13,79,22,150,412,43,51,105,36,121,626,1142,953,1246,944,702,864,665,860,218
4,69,15,64,8,25,429,105,12,39,28,442,260,1476,1063,315,608,111,609,639,2243

In [16]:
sub_df.columns

Index(['champId_0', 'champId_1', 'champId_2', 'champId_3', 'champId_4',
       'champId_5', 'champId_6', 'champId_7', 'champId_8', 'champId_9',
       'player_0', 'player_1', 'player_2', 'player_3', 'player_4', 'player_5',
       'player_6', 'player_7', 'player_8', 'player_9'],
      dtype='object')

In [13]:
len(test_df)

2000

### Model 1

In [19]:
train_df.columns

Index(['champId_0', 'champId_1', 'champId_2', 'champId_3', 'champId_4',
       'champId_5', 'champId_6', 'champId_7', 'champId_8', 'champId_9',
       'player_0', 'player_1', 'player_2', 'player_3', 'player_4', 'player_5',
       'player_6', 'player_7', 'player_8', 'player_9', 'target'],
      dtype='object')

In [20]:
# features selected
col = ['champId_0', 'champId_1', 'champId_2', 'champId_3', 'champId_4',
       'champId_5', 'champId_6', 'champId_7', 'champId_8', 'champId_9',
       'player_0', 'player_1', 'player_2', 'player_3', 'player_4', 'player_5',
       'player_6', 'player_7', 'player_8', 'player_9']

X = train_df[col]
y = train_df['target']

test_X = test_df[col]
test_y = test_df['target']

In [24]:
# fitting
model = ExtraTreesClassifier(n_estimators=100,random_state=1).fit(X,y)

# predict test data
y_pred = model.predict(test_X)

# accuracy
accuracy_score(test_y, y_pred) # 0.85299 w=7, w=9 0.851, w=2

0.84450000000000003